*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cal{
    margin-top: 100px;
    width: 300px;
    height: 520px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: #222522;
    overflow: hidden;
}
form input{
    width:90%;
    height: 150px;
    border-radius:12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}

button{
    width: 60px;
    margin:5px 0;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    border:1px solid black;
    cursor: pointer;
}
.bn-yellow{
    background-color: yellow;
    color:white;
}
.bn-gray{
    background-color:grey;
}
.bn-equals{
    background-color:green;
}
.bn-clear{
    background-color:red;
}
.bn-delete{
    background-color: pink;
    color:#fff;
    width: 90px;
}
.bn-00{
    background-color: #16085c;
}